<div class="contacts mainContainer" id="contact">
    <div class="contacts__headline">
        <h1 class="sectionHeadline size--headline">Contact</h1>
    </div>

    <div class="contacts__container">
        <div class="contacts__containerLeft">
            <div class="contacts__containerLeftIntro">
                <p class="size--text">
                    I am looking forward to hear from you and discuss,
                    <br>
                    how I can contribute to your business and projects.
                </p>
            </div>
            <div class="contacts__containerLeftSocial">
                <p class="size--text">Need a Software-Developer? Get in touch.</p>

                <div class="contacts__containerLeftSocialMail">
                    <img src="../../../assets/icons/mail.svg" alt="">
                    <p>info&#64;kev-wagner.com</p>
                </div>
            </div>
        </div>

        <div class="contacts__containerRight">
            <form action="https://kev-wagner.com/send_mail.php"  method="post">
                <input class="size--text" type="text" id="fname" name="fname" placeholder="First Name" required>
                <input class="size--text" type="text" id="lname" name="lname" placeholder="Last Name" required>
                <input class="size--text" type="email" id="email" name="email" placeholder="Your Email" required>
                <textarea class="size--text" name="message" id="textarea" cols="30" rows="10" placeholder="Your Message.." required></textarea>

                <button type="submit">
                    <p class="size--text">Send it</p>
                </button>
            </form>
        </div>
    </div>
</div>