<div class="about mainContainer" id="about">
    <div class="about__headline" data-aos="zoom-in-down">
        <h1 class="sectionHeadline size--headline">About Me</h1>
    </div>
    <div class="about__profile">
        <div class="about__profileLeft">
            <div class="about__profileLeftPicture">
                <img src="../../../assets/img/profile.JPG" alt="">
            </div>
        </div>
        <div class="about__profileRight">
            <p class="size--text">
                My Journey began already at a young age where I was the first point of contact for family and friends
                when it came to
                small software and hardware problems.
                This passion remained until today.. I spent my free time programming and taught myself the basics of
                HTML and CSS. Quickly I noticed that I enjoy this a lot and I would like to work professionally in this
                field in the future.
                <br>
                <br>
                At a certain point, I wanted to learn faster and more efficiently, so I decided to seek professional
                help. After a long search, I decided to join the Developer Academy in Munich in January 2022. Beside my
                main job I learned there in shortest time the fundamental knowledge for the frontend web development. I
                completed a lot of different projects there, both individually and in groups.
                <br>
                <br>
                This deep insight into programming made me realize that I had made exactly the right decision. I love
                developing web applications and facing new challenges. I have found my passion! With every project I
                complete, with every new challenge I face, I always learn a little bit more and I never get bored. I
                invest a lot of time in coding and I love it!
                <br>
                <br>
                Since October 2023, I've been successfully working in my first job as a Junior Frontend Developer. This
                professional experience has further fueled my interest and passion for frontend development. I strive to
                continuously deepen my knowledge and skills in this field and to keep evolving.
            </p>
        </div>
    </div>
</div>