<div class="about mainContainer">
    <div class="about__headline">
        <h1 class="sectionHeadline">About me</h1>
    </div>
    <div class="about__profile">
        <div class="about__profileLeft">
            <div class="about__profileLeftPicture">
                <img src="../../../assets/img/profile.JPG" alt="">
            </div>
        </div>
        <div class="about__profileRight">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reprehenderit, consequatur quas pariatur corporis labore praesentium voluptate. Cupiditate eum, quae consectetur nobis repellat voluptatibus! Itaque corrupti maiores nam magni culpa.</p>
        </div>
    </div>
</div>