<div class="portfolio">
    
    <div class="home" id="home">
        <div class="home__greeting">
            <h1 class="home__greetingName">Kevin</h1>
            <p class="home__greetingJob js-home__greetingJob">Frontend Developer</p>
            <p class="home__greetingText">Making the Web to a better place</p>
        </div>

        <div class="home__scrollmouse js-home__scrollmouse">
            <img class="scrollMouse" src="../../../assets/icons/scrollMouse.png" alt="">
        </div>
    </div>

    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-about></app-about>
    <app-contact></app-contact>
    <app-footer></app-footer>
</div>