.portfolio {
    background-color: var(--darkGrey);
    width: 100vw;
}

.home {
    background-color: var(--darkGrey);
}

.home__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: fit-content;
}

.home__greetingName {
    font-size: 10rem;
    color: var(--yellow);
    text-transform: uppercase;
    line-height: 130px;
    letter-spacing: 15px;

    @media only screen and (max-width: 768px) {
        font-size: 5rem;
    }

    @media only screen and (max-width: 375px) {
        font-size: 4rem;
        line-height: 110px;
    }
}

.home__greetingJob {
    min-height: 55px;
    font-size: 2.5rem;
    letter-spacing: 8px;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 2rem;
    position: relative;

    @media only screen and (max-width: 768px) {
        font-size: 1rem;
        margin-top: 0;
    }

    @media only screen and (max-width: 375px) {
        font-size: 0.7rem;
    }

    &::before {
        content: "";
        right: -8px;
        top: 50%;
        position: absolute;
        height: 40px;
        width: 2px;
        background-color: var(--yellow);
        transform: translateY(-45%);
        animation: blink 0.9s infinite;
    }
}

.stop-blinking {
    &::before {
        animation: none;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.home__greetingText {
    color: var(--textGrey);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 2rem;

    @media only screen and (max-width: 768px) {
        text-align: center;
        font-size: 0.7rem;
        margin-top: 1rem;
    }

    @media only screen and (max-width: 375px) {
        font-size: 0.5rem;
    }

    @media only screen and (max-width: 320px) {
        letter-spacing: 3px;
    }
}