.portfolio {
    background-color: var(--darkGrey);
    width: 100vw;
}

.home {
    background-color: var(--darkGrey);
}

.home__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: fit-content;
}

.home__greetingName {
    font-size: 10rem;
    color: var(--yellow);
    text-transform: uppercase;
    line-height: 130px;
    letter-spacing: 15px;

    @media only screen and (max-width: 768px) {
        font-size: 8rem;
    }

    @media only screen and (max-width: 425px) {
        font-size: 5rem;
    }
}

.home__greetingJob {
    font-size: 2.5rem;
    letter-spacing: 8px;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 2rem;

    @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: 425px) {
        font-size: 1rem;
        margin-top: 0;
    }
}

.home__greetingText {
    color: var(--textGrey);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 2rem;

    @media only screen and (max-width: 425px) {
        text-align: center;
        font-size: 0.7rem;
        margin-top: 1rem;
    }
}