.projects__headline {
    width: 100%;
}

.projects__list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.projects__listSingle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightGrey);
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.projects__listSingleImage {
    width: 500px;

    @media only screen and (min-width: 2560px) {
        width: 800px;
    }

    @media only screen and (max-width: 1440px) {
        width: 600px;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.projects__listSingleDescription {
    max-width: 400px;
    margin-left: 2rem;

    @media only screen and (max-width: 1440px) {
        max-width: 300px;
        margin-left: 2rem;
    }

    @media only screen and (max-width: 1024px) {
        margin-left: 0;
        margin-bottom: 2rem;
        max-width: 600px;
    }
}

.projects__listSingleDescriptionTitle {
    color: var(--yellow);
}

.projects__listSingleDescriptionInstruction {
    color: var(--textGrey);
    margin-top: 1rem;
}

.projects__listSingleDescriptionTechnology {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.projects__listSingleDescriptionTechnologyInner {
    color: var(--white);
}

.projects__listSingleDescriptionTechnologyButtonbox {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}

.projects__listSingleDescriptionTechnologyButtonboxBtn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--darkGrey);
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #e7b800;
    }
}