<div class="projects mainContainer">

    <div class="projects__headline">
        <h1 class="sectionHeadline">Projects</h1>
    </div>

    <div class="projects__list">
        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/473shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h1 class="projects__listSingleDescriptionTitle">Messaging-App</h1>
                <p class="projects__listSingleDescriptionInstruction">
                    A messenger web app that is based on Slack. It is
                    possible to create public channels and communicate with all members. You can also send direct
                    messages.
                    Firebase is used for database and authorization.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner">- Angular / TypeScript</p>
                    <p class="projects__listSingleDescriptionTechnologyInner">- HTML & CSS</p>
                    <p class="projects__listSingleDescriptionTechnologyInner">- Firebase</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">Live Test</button>
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">To GitHub</button>
                </div>
            </div>
        </div>

        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/329shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h1 class="projects__listSingleDescriptionTitle">Kanban Board</h1>
                <p class="projects__listSingleDescriptionInstruction">
                    JOIN is a WebApp, inspired by the popular Kanban System for project- and personal management. It
                    implements drag and drop lists, the creation of user boards and a user dashboard.
                    The data are stored in a JSON array with a PHP-based script on an FTP server.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner">- VanillaJS</p>
                    <p class="projects__listSingleDescriptionTechnologyInner">- HTML & CSS</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">Live Test</button>
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">To GitHub</button>
                </div>
            </div>
        </div>

        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/583shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h1 class="projects__listSingleDescriptionTitle">2D Jump and Run Game</h1>
                <p class="projects__listSingleDescriptionInstruction">
                    El Pollo Loco has been my first project to implement an object oriented approach with JavaScript.
                    The result is a funny little game to play in your web browser or on any mobile device.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner">- VanillaJS (with OOP)</p>
                    <p class="projects__listSingleDescriptionTechnologyInner">- HTML & CSS</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">Live Test</button>
                    <button class="projects__listSingleDescriptionTechnologyButtonboxBtn">To GitHub</button>
                </div>
            </div>
        </div>
    </div>
</div>