<div class="projects mainContainer" id="projects">

    <div class="projects__headline" data-aos="zoom-in-down">
        <h1 class="sectionHeadline size--headline">Projects</h1>
    </div>

    <div class="projects__list">
        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/473shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h2 class="projects__listSingleDescriptionTitle size--subHeadline">Messaging-App</h2>
                <p class="projects__listSingleDescriptionInstruction size--text">
                    A messenger web app that is based on Slack. It is
                    possible to create public channels and communicate with all members. You can also send direct
                    messages.
                    Firebase is used for database and authorization.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- Angular / TypeScript</p>
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- HTML & CSS</p>
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- Firebase</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <a href="https://slack-clone.kev-wagner.com/" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">Live Test</button>
                    </a>
                    <a href="https://github.com/Kev4493/Slack_Clone" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">To GitHub</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/329shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h2 class="projects__listSingleDescriptionTitle size--subHeadline">Kanban Board</h2>
                <p class="projects__listSingleDescriptionInstruction size--text">
                    JOIN is a WebApp, inspired by the popular Kanban System for project- and personal management. It
                    implements drag and drop lists, the creation of user boards and a user dashboard.
                    The data are stored in a JSON array with a PHP-based script on an FTP server.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- VanillaJS</p>
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- HTML & CSS</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <a href="https://join.kev-wagner.com/Join-Javascript/" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">Live Test</button>
                    </a>
                    <a href="https://github.com/Kev4493/Join-Kanbanboard" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">To GitHub</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="projects__listSingle">
            <img class="projects__listSingleImage" src="../../../assets/img/mockups/583shots_so.png" alt="">
            <div class="projects__listSingleDescription">
                <h2 class="projects__listSingleDescriptionTitle size--subHeadline">2D Jump and Run Game</h2>
                <p class="projects__listSingleDescriptionInstruction size--text">
                    El Pollo Loco has been my first project to implement an object oriented approach with JavaScript.
                    The result is a funny little game to play in your web browser or on any mobile device.
                </p>
                <div class="projects__listSingleDescriptionTechnology">
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- VanillaJS (with OOP)</p>
                    <p class="projects__listSingleDescriptionTechnologyInner size--text">- HTML & CSS</p>
                </div>
                <div class="projects__listSingleDescriptionTechnologyButtonbox">
                    <a href="https://www.pollo-loco.kev-wagner.com/" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">Live Test</button>
                    </a>
                    <a href="https://github.com/Kev4493/El_pollo_loco" target="_blank">
                        <button class="projects__listSingleDescriptionTechnologyButtonboxBtn size--text">To GitHub</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>