.projects__headline {
    width: 100%;
}

.projects__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.projects__listSingle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightGrey);
    padding: 2rem 1rem;
    border-radius: 10px;
}

.projects__listSingleImage {
    width: 500px;
}

.projects__listSingleDescription {
    // border: 1px solid white;
    max-width: 400px;
    ;
}

.projects__listSingleDescriptionTitle {
    color: var(--yellow);
    font-family: 'Genos';
}

.projects__listSingleDescriptionInstruction {
    color: var(--textGrey);
    font-family: 'Genos';
    margin-top: 1rem;
}

.projects__listSingleDescriptionTechnology {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.projects__listSingleDescriptionTechnologyInner {
    color: var(--white);
    font-family: 'Genos';
}

.projects__listSingleDescriptionTechnologyButtonbox {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}

.projects__listSingleDescriptionTechnologyButtonboxBtn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--darkGrey);
    border: none;
}