<div class="skills mainContainer">
    <div class="skills__headline">
        <h1 class="sectionHeadline size--headline">Skillset</h1>
    </div>
    <div class="skills__techstack">

        <!-- === HTML === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/html-fill.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">HTML</p>
        </div>

        <!-- === CSS === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/css-fill.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">CSS</p>
        </div>

        <!-- === JAVASCRIPT === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/javascript.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">JavaScript</p>
        </div>

        <!-- === ANGULAR === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/angular-fill.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">Angular</p>
        </div>

        <!-- === TYPESCRIPT === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/typescript.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">TypeScript</p>
        </div>

        <!-- === REST API === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/api-round.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">Rest API</p>
        </div>

        <!-- === GIT === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/git.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">GIT</p>
        </div>

        <!-- === SCRUM === -->
        <!-- <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/scrum.png" alt="">
            <p class="skills__techstackSingleTitle">Scrum</p>
        </div> -->

        <!-- === MATERIAL DESIGN === -->
        <!-- <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/material_design.png" alt="">
            <p class="skills__techstackSingleTitle">Material Design</p>
        </div> -->

        <!-- === FIREBASE === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/tech-icons/firebase.svg" alt="">
            <p class="skills__techstackSingleTitle size--text">Firebase</p>
        </div>
    </div>
</div>