<div class="skills">
    <div class="skills__headline">
        <h1 class="skills__headlineContent">Skills</h1>
    </div>
    <div class="skills__techstack">

        <!-- === HTML === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/html.png" alt="">
            <p class="skills__techstackSingleTitle">HTML</p>
        </div>

        <!-- === CSS === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/css.png" alt="">
            <p class="skills__techstackSingleTitle">CSS</p>
        </div>

        <!-- === JAVASCRIPT === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/javascript.png" alt="">
            <p class="skills__techstackSingleTitle">JavaScript</p>
        </div>

        <!-- === ANGULAR === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/angular.png" alt="">
            <p class="skills__techstackSingleTitle">Angular</p>
        </div>

        <!-- === REST API === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/api.png" alt="">
            <p class="skills__techstackSingleTitle">Rest API</p>
        </div>

        <!-- === GIT === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/git.png" alt="">
            <p class="skills__techstackSingleTitle">GIT</p>
        </div>

        <!-- === SCRUM === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/scrum.png" alt="">
            <p class="skills__techstackSingleTitle">Scrum</p>
        </div>

        <!-- === MATERIAL DESIGN === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/material_design.png" alt="">
            <p class="skills__techstackSingleTitle">Material Design</p>
        </div>

        <!-- === GOOGLE FIREBASE === -->
        <div class="skills__techstackSingle">
            <img class="skills__techstackSingleIcon" src="../../../assets/icons/firebase.png" alt="">
            <p class="skills__techstackSingleTitle">Google Firebase</p>
        </div>
    </div>
</div>