.legalNotice {
    background-color: var(--darkGrey);
    width: 100vw;
    height: 100vh;
}

.paddingToNav {
    padding-top: 155px;
}

app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}