<div class="legalNotice paddingToNav">
    <div class="legalNotice__content mainContainer">
        <h1>Impressum</h1>
        <br>
        <br>
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <br>
        <p>
            Kevin Wagner<br />
            Raitestra&szlig;e 26<br />
            71696 M&ouml;glingen
        </p>
        <br>
        <h2>Kontakt</h2>
        <br>
        <p>
            Telefon: +49 176624 10449<br />
            info&#64;kev-wagner.com
        </p>
    </div>
</div>