.legalNotice {
    background-color: var(--darkGrey);
    width: 100vw;
    height: 100vh;
}

.legalNotice__content {
    h1, h2 {
        color: var(--yellow);
    }

    h1 {
        font-size: 4rem;

        @media only screen and (max-width: 1600px) {
            font-size: 2rem;
        }
    }

    h2 {
        @media only screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }

    p {
        color: var(--textGrey);
    }

    a {
        text-decoration: none;
        color: var(--textGrey);
    }
    
}

.paddingToNav {
    padding-top: 155px;
}

app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}