* {
    box-sizing: border-box;
    margin: 0;
}

// === ALL COLORS: ===
:root {
    --darkGrey: #202020;
    --lightGrey: #272727;
    --yellow: #FEDA4E;
    --white: #FFFFFF;
    --black: #000000;
}
