* {
    box-sizing: border-box;
    margin: 0;
}

body {
    // font-family: 'Genos';
    // font-family: 'Heebo';
    // font-family: 'Cabin';
    font-family: 'Noto Sans';
    overflow-x: hidden;
}

// === ALL COLORS: ===
:root {
    --darkGrey: #202020;
    --lightGrey: #272727;
    --yellow: #feda4e;
    --white: #FFFFFF;
    --black: #000000;
    --textGrey: #A2A2A2;
}

/* genos-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/genos-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* genos-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Genos';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/genos-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/heebo-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/heebo-v22-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/cabin-v27-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/cabin-v27-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/noto-sans-v35-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/noto-sans-v35-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// === MAIN CONTAINER ===
.mainContainer {
    padding: 0 15rem;

    @media only screen and (max-width: 1440px) {
        padding: 0 6rem;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 3rem;
    }

    @media only screen and (max-width: 425px) {
        padding: 0 1rem;
    }
}

// === SECTION-HEADLINES ===

.sectionHeadline {
    display: flex;
    justify-content: center;
    color: var(--white);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 2rem;
    font-family: 'Genos';
}

// === SOCIAL-MEDIA-ICONS ===

.navigation__socialmediaCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.navigation__socialmediaCircleIcon {
    width: 20px;
}