* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans';
    overflow-x: hidden;
}

/* genos-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Genos';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/genos-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* genos-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Genos';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/genos-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/heebo-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/heebo-v22-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/cabin-v27-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/cabin-v27-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/noto-sans-v35-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/noto-sans-v35-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/montserrat-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/montserrat-v26-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// === ALL COLORS: ===

:root {
    --darkGrey: #202020;
    --lightGrey: #272727;
    --yellow: #feda4e;
    --white: #FFFFFF;
    --black: #000000;
    --textGrey: #A2A2A2;
}

// === MAIN CONTAINER ===

.mainContainer {
    padding: 4rem 15rem;

    @media only screen and (min-width: 2560px) {
        padding: 4rem 25rem;
    }

    @media only screen and (max-width: 1440px) {
        padding: 4rem 6rem;
    }

    @media only screen and (max-width: 1024px) {
        padding: 4rem 3rem;
    }

    @media only screen and (max-width: 425px) {
        padding: 4rem 1rem;
    }
}

// === FONT SIZE ===

.size--headline {
    font-family: 'Montserrat';
    font-size: 32px;
    margin-bottom: 4rem;
}

.size--subHeadline {
    font-family: 'Montserrat';
    font-size: 24px;
}

.size--text {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.6em;
}

// === SECTION-HEADLINES ===

.sectionHeadline {
    display: flex;
    justify-content: center;
    color: var(--white);
    letter-spacing: 5px;
    text-transform: uppercase;
}

// === SOCIAL-MEDIA-ICONS ===

.navigation__socialmediaCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    a {
        display: flex;
    }

    &:not(:last-child) {
        margin-right: 1rem;

        @media only screen and (max-width: 1024px) {
            margin-right: 0;
        }
    }
}

.navigation__socialmediaCircleIcon {
    width: 20px;
}