.checkout {
    background-color: var(--darkGrey);
    width: 100vw;
    height: 100vh;
}

.paddingToNav {
    padding-top: 155px;
}

.checkout__content {
    height: calc(100% - 155px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 425px) {
        align-items: center;
    }
}

.checkout__contentThx {
    font-size: 3rem;
    color: var(--yellow);
    text-transform: uppercase;
    line-height: 85px;
    letter-spacing: 15px;

    @media only screen and (max-width: 1440px) {
        font-size: 3rem;
        line-height: 80px;
    }

    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
        line-height: 50px;
    }

    @media only screen and (max-width: 425px) {
        text-align: center;
    }
}

.checkout__contentSoon {
    font-size: 2rem;
    letter-spacing: 8px;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 2rem;

    @media only screen and (max-width: 1440px) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: 1024px) {
        font-size: 1rem;
        line-height: 50px;
    }

    @media only screen and (max-width: 425px) {
        text-align: center;
        line-height: 30px;
    }
}

app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}