<div class="navigation">
    <div class="navigation__logo">
        <img class="navigation__logoImage" src="../../../assets/icons/logo.png" alt="">
    </div>

    <div class="navigation__main">
        <a class="navigation__mainLink" href="#">Home</a>
        <a class="navigation__mainLink" href="#">Skills</a>
        <a class="navigation__mainLink" href="#">About</a>
        <a class="navigation__mainLink" href="#">Portfolio</a>
        <a class="navigation__mainLink" href="#">Imprint</a>
    </div>
    <div class="navigation__socialmedia">
        <div class="navigation__socialmediaCircle">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/github.png" alt="">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/linkedin.png" alt="">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/instagram.png" alt="">
        </div>
    </div>
</div>