<div class="navigation mainContainer">
    <div class="navigation__logo">
        <a href="#">
            <img class="navigation__logoImage" src="../../../assets/icons/logo.png" alt="">
        </a>
    </div>

    <div class="navigation__main">
        <a class="navigation__mainLink size--text" href="#home">Home</a>
        <a class="navigation__mainLink size--text" href="#skills">Skills</a>
        <a class="navigation__mainLink size--text" href="#projects">Projects</a>
        <a class="navigation__mainLink size--text" href="#about">About</a>
        <a class="navigation__mainLink size--text" href="#contact">Contact</a>
        <a class="navigation__mainLink size--text" href="#imprint">Imprint</a>

    </div>

    <div class="navigation__socialmedia">
        <div class="navigation__socialmediaCircle">
            <a href="https://github.com/Kev4493" target="_blank">
                <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/github.png" alt="">
            </a>
        </div>
        <div class="navigation__socialmediaCircle">
            <a href="https://www.linkedin.com/in/kevin-wagner-aa157a209/" target="_blank">
                <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/linkedin.png" alt="">
            </a>
        </div>
        <div class="navigation__socialmediaCircle">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/instagram.png" alt="">
        </div>
    </div>
</div>

<div class="mobileNavigation mainContainer">
    <div class="mobileNavigation__logo">
        <img class="mobileNavigation__logoImage" src="../../../assets/icons/logo.png" alt="">
    </div>
    <div class="mobileNavigation__menu" (click)="showMobileNavigationLinks()">
        <svg class="mobileNavigation__menuIcon" xmlns="http://www.w3.org/2000/svg" height="24" fill="white" viewBox="0 -960 960 960" width="24">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </div>
</div>

<div class="mobileNavigation__links mainContainer js-mobileNav" (click)="showMobileNavigationLinks()">
    <a class="mobileNavigation__mainLink" href="#">Home</a>
    <a class="mobileNavigation__mainLink" href="#">Skills</a>
    <a class="mobileNavigation__mainLink" href="#">About</a>
    <a class="mobileNavigation__mainLink" href="#">Portfolio</a>
    <a class="mobileNavigation__mainLink" href="#">Imprint</a>
</div>