.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @media (max-width: 768px) {
        display: none;
    }
}

.navigation__main {
    display: flex;
}

.navigation__mainLink {
    text-decoration: none;
    color: var(--textGrey);
    position: relative;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &:hover {
        transition: all 225ms;
        color: var(--yellow);
        text-decoration: underline;
    }
}

.navigation__logo {
    position: absolute;
    left: 12rem;

    @media only screen and (max-width: 1440px) {
        left: 6rem;
    }

    @media only screen and (max-width: 1024px) {
        left: 3rem;
    }
}

.navigation__logoImage {
    width: 50px;
}

.navigation__socialmedia {
    position: absolute;
    display: flex;
    right: 12rem;

    @media only screen and (max-width: 1440px) {
        right: 6rem;
    }

    @media only screen and (max-width: 1024px) {
        right: 3rem;
        flex-direction: column;
        top: 2rem;
        row-gap: 1rem;
    }
}

.navigation__socialmediaCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.navigation__socialmediaCircleIcon {
    width: 20px;
}

// === MOBILENAVIGATION ===

.mobileNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    position: sticky;
    position: absolute;
    top: 0;
    background-color: var(--lightGrey);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 2;

    @media only screen and (min-width: 769px) {
        display: none;
    }
}

.mobileNavigation__logo {
    width: 100%;
}

.mobileNavigation__logoImage {
    width: 35px;
    cursor: pointer;
}

.mobileNavigation__menuIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.mobileNavigation__links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--lightGrey);
    position: absolute;
    top: 71.5px;
    left: 0;
    right: 0;
    row-gap: 1rem;
    transition: transform 225ms ease-out;
    transform: translateY(-204px);

    @media only screen and (min-width: 769px) {
        display: none;
    }

    @media only screen and (max-width: 425px) {
        flex-direction: column;
        justify-content: unset;
    }
}

.mobileNavigation__mainLink {
    text-decoration: none;
    color: var(--white);
}

.show-nav {
    transition: all 225ms ease-out;
    transform: translateY(0);
}