<div class="navigation">
    <div class="navigation__logo">
        <img class="navigation__logoImage" src="../../../assets/icons/logo.png" alt="">
    </div>

    <div class="navigation__main">
        <a class="navigation__mainLink" href="#">Home</a>
        <a class="navigation__mainLink" href="#">Skills</a>
        <a class="navigation__mainLink" href="#">About</a>
        <a class="navigation__mainLink" href="#">Portfolio</a>
        <a class="navigation__mainLink" href="#">Imprint</a>
    </div>

    <div class="navigation__socialmedia">
        <div class="navigation__socialmediaCircle">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/github.png" alt="">
        </div>
        <div class="navigation__socialmediaCircle">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/linkedin.png" alt="">
        </div>
        <div class="navigation__socialmediaCircle">
            <img class="navigation__socialmediaCircleIcon" src="../../../assets/icons/instagram.png" alt="">
        </div>
    </div>
</div>

<div class="mobileNavigation">
    <div class="mobileNavigation__logo">
        <img class="mobileNavigation__logoImage" src="../../../assets/icons/logo.png" alt="">
    </div>
    <div class="mobileNavigation__menu" (click)="showMobileNavigationLinks()">
        <svg class="mobileNavigation__menuIcon" xmlns="http://www.w3.org/2000/svg" height="24" fill="white" viewBox="0 -960 960 960" width="24">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </div>
</div>

<div class="mobileNavigation__links js-mobileNav" (click)="showMobileNavigationLinks()">
    <a class="mobileNavigation__mainLink" href="#">Home</a>
    <a class="mobileNavigation__mainLink" href="#">Skills</a>
    <a class="mobileNavigation__mainLink" href="#">About</a>
    <a class="mobileNavigation__mainLink" href="#">Portfolio</a>
    <a class="mobileNavigation__mainLink" href="#">Imprint</a>
</div>

