.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @media (max-width: 425px) {
        display: none;
    }
}

.navigation__main {
    display: flex;
}

.navigation__mainLink {
    text-decoration: none;
    color: var(--textGrey);
    position: relative;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &:hover {
        transition: all 225ms;
        color: var(--yellow);
        text-decoration: underline;
    }
}

.navigation__logo {
    position: absolute;
    left: 12rem;

    @media only screen and (max-width: 1440px) {
        left: 6rem;
    }

    @media only screen and (max-width: 1024px) {
        left: 3rem;
    }
}

.navigation__logoImage {
    width: 50px;
}

.navigation__socialmedia {
    position: absolute;
    display: flex;
    right: 12rem;

    @media only screen and (max-width: 1440px) {
        right: 6rem;
    }

    @media only screen and (max-width: 1024px) {
        right: 3rem;
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        top: 2rem;
        row-gap: 1rem;
    }
}

.navigation__socialmediaCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.navigation__socialmediaCircleIcon {
    width: 20px;
}

// === MOBILENAVIGATION ===

@media only screen and (min-width: 425px) {}

.mobileNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: absolute;
    background-color: var(--lightGrey);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 2;

    @media only screen and (min-width: 426px) {
        display: none;
    }
}

.mobileNavigation__logo {
    width: 100%;
}

.mobileNavigation__logoImage {
    width: 35px;
    cursor: pointer;
}

.mobileNavigation__menuIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.mobileNavigation__links {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: var(--lightGrey);
    background-color: grey;
    position: absolute;
    top: 71.5px;
    left: 0;
    right: 0;
    row-gap: 1rem;
    transition: transform 500ms ease-out;
    transform: translateY(-204px);
}

.mobileNavigation__mainLink {
    text-decoration: none;
    color: var(--white);
}

.show-nav {
    transition: all 500ms ease-out;
    transform: translateY(0);
}